.callback-form {
  background: url($path-image + '/bg_2.png') center;
  background-size: cover;
  padding: 80px 0 50px;
  form {
    background-color: $lightgray-new;
    padding: 80px 40px;
    border-radius: 3px;
  }
  .col-lg-6 {
    margin-bottom: 3rem;
  }
}
