//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image   :   '../img';
$path-fonts     :  '../fonts';
$red: #9B2D30;
$lightred: #a5494c;
$lightyellow: #C0BCAF;
$lightgray-new: #F4F3F7;
$blue-new: #217DD1;
$blue: #337ab7;
$extralightgray: #FBFBFB;
$lightergray: #F5F5F5;
$lightgray: #EFEFEF;
$lightgrey: #E4E4E4;
$mediumgrey: #A0A0A0;
$grey: #989898;
$mediumgray: #7E7E7E;
$gray: #676767;
$darkblue: #2C2C43;
$darkviolet: #202038;
$lightblack: #131720;
$yellow: #F5A623;
$caret-color: $red;
